body {
    background-image: url("../img/fondo.jpg");
    background-size: 120%;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    position: relative;
    top: 20%;
    left: 30%;
    font-size: 200%;
    color: brown;
}